<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>
		<Console name="Out" target="SYSTEM_OUT">
			<PatternLayout charset="UTF-8"
				pattern="%-5level: %logger{1}.%M() - %msg%n" />
		</Console>

		<File name="AccessFile" fileName="c:/Temp/logs/access.log"	>
			<PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss} - %msg%n" />		
		</File>
		
		<RollingFile name="SqlFile"  fileName="c:/Temp/logs/sqlmybatis.log" 
		                             filePattern="c:/Temp/logs/sqlmybatis-%d{yyyy-MM-dd-hh-mm}.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd hh:mm:ss} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"  modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="7" /> 
		</RollingFile>
		
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%p----%m%n" />
		</Console>
		
	</Appenders>

	<Loggers>
		<!-- jdbc.sqlonly로 지정하면, SQL 문을 보여준다. -->
		<!-- <Logger name="jdbc.sqlonly" level="info" additivity="false">
			<AppenderRef ref="Out" />	
			<AppenderRef ref="SqlFile" />
		</Logger>
		<Logger name="com.pioneer.medgo" level="info" additivity="false"> additivity="false">
			<AppenderRef ref="Out" />
			<AppenderRef ref="AccessFile" />
		</Logger> -->
		<!-- <Logger name="org.springframework" level="trace" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger> -->
		<Root level="error">
			<AppenderRef ref="Out" /> <!-- 일반 logger와 root 로고에 적용되어 있어서, console에 2번 출력 -->
		</Root> 
	</Loggers>

</Configuration>