<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pioneer.medgo.dao.MedicineDAO">
	<select id="countByKeyword" resultType="int">
		SELECT COUNT(*)
		FROM medicine
		WHERE
		drug_type is not null
		<if test="keyword != null and keyword != ''">
			AND (
			main_code LIKE '%' || #{keyword} || '%'
			OR
			product_name LIKE '%' || #{keyword} || '%'
			OR manufacturer_name
			LIKE
			'%' || #{keyword} || '%'
			)
		</if>
	</select>

	<select id="findByKeyword"
		resultType="com.pioneer.medgo.domain.MedicineDTO">
		SELECT
		id,
		product_name,
		manufacturer_name,
		main_code,
		drug_type
		FROM
		medicine
		WHERE
		drug_type is not null
		<if test="keyword != null and keyword != ''">
			AND (
			main_code LIKE '%' || #{keyword} || '%'
			OR
			product_name LIKE '%' || #{keyword} || '%'
			OR manufacturer_name
			LIKE
			'%' || #{keyword} || '%'
			)
		</if>
		ORDER BY
		<choose>
			<when test="sort == 'productName'"> product_name </when>
			<when test="sort == 'manufacturerName'"> manufacturer_name </when>
			<when test="sort == 'drugType'"> drug_type </when>
			<otherwise> product_name </otherwise>
		</choose>
		<choose>
			<when test="order == 'desc'"> DESC </when>
			<otherwise> ASC </otherwise>
		</choose>
		OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>

	<select id="findComparatorAllByKeyword" parameterType="String"
		resultType="com.pioneer.medgo.domain.MedicineDTO">
		select distinct product_name
        from medicine 
       	where ingredient_code in (
          	 select distinct(ingredient_code)
          	 from medicine
          	 where 
          	 product_name like '%' || #{keyword} || '%'
         	 and drug_type = '전문의약품'
         	 and ingredient_code is not null)
	</select>

</mapper> 








