<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pioneer.medgo.dao.PharmacyDAO">
	<select id="findByLessThanLatAndLon" resultType = "com.pioneer.medgo.domain.PharmacyDTO">
	<![CDATA[
        SELECT
  		p.ID            AS id,
 		p.PHARMACY_NAME AS pharmacyName,
  		p.LATITUDE      AS latitude,
  		p.LONGITUDE     AS longitude,
  		p.PHONE         AS phone,
  		p.ADDRESS       AS address,
  		nb.TITLE        AS title,
  		nb.CONTENT      AS content
		FROM PHARMACY p
		LEFT JOIN (
 		 	SELECT
		 	   b.*,
		 	   ROW_NUMBER() OVER (
			      PARTITION BY b.PHARMACY_ID
			      ORDER BY b.UPDATED_AT DESC, b.ID DESC
			    ) rn
			  FROM PHARMACY_BOARD b
			) nb
		ON nb.PHARMACY_ID = p.ID
 		AND nb.rn = 1
		WHERE
		p.LATITUDE  BETWEEN #{minLat} AND #{maxLat}
 		AND
 		p.LONGITUDE  BETWEEN #{minLon} AND #{maxLon}
 		]]>
	</select>



</mapper>